@model IEnumerable<SolarSite.Entities.PvPanels>



 <div class="row">
     <form method="get">
         <div class="col-3 .col-12">
             <div class="input-group">

                 <ul id="filters">
                     <li>
                         <input type="radio" value="Polikrystaliczny" id="filter-poli" name="sortorder" />
                         <label for="filter-poli">Moduły polikrystaliczne</label>
                     </li>
                     <li>
                         <input type="radio" value="Monokrystaliczny" id="filter-mono" name="sortorder" />
                         <label for="filter-mono">Moduły monokrystaliczne</label>
                     </li>
                     <li>
                         <input type="radio" value="BIPV" id="filter-bipv"  name="sortorder"/>
                         <label for="filter-bipv">BIPV</label>
                     </li>
                 </ul>
                 <span class="input-group-btn">
                     <button id="filterButton" class=" btn-dark">Filtruj</button>
                 </span>
             </div>
          

         </div>
     </form>

    <div class="col-9">
        <div class="row">

            @foreach (var p in Model)
            {
         
            <div class="col-4">
                <div class="border bg-light rounded p-2">
                    <div class="text-center"> <img src="~/img/@(p.Zdjecie).jpg" width="300" height="300" class="img-fluid" alt="" /></div>
                   <br />
                  
                    <ul>
                        <li>Producent: @p.Producent</li>
                        <li>Moc: @p.Moc W</li>
                        <li>Wymiary: @p.Szerokosc x @p.Wysokosc x @p.Grubosc mm</li>
                        <li>Typ: @p.Typ</li>
                        <li>Wydajność: @p.Wydajnosc %</li>
                        <li>Waga: @p.Waga kg</li>
                    </ul>
                    
                     <input type="number"/>
                    <button id="buyButton" class="btn btn-success">Kup!</button>
                </div>
            </div>
            }
        </div>
</div>
</div>